body {
  font-family: Arial;
}

.card {
  width: 600px;
}

.item {
  display: flex;
  padding: 5px 0;
}

.item__code {
  margin-right: 5px;
  font-weight: bold;
}

.item__value {
  margin-right: 5px;
}

.item__currency {
  padding-right: 5px;
}

.loader {
  width: 100px;
  display: none;
}

.loader_active {
  display: block;
}
